__pycache__/
job_scripts/
outputs/
profs/
data/
.*.swm
.*.swn
.*.swo
.*.swp
.nfs*
test*
distr*.txt
distr*.prof
gcn*.txt
*saved*
gcn.py
gcn_conv.py
gcn_distr_cpu.py
gcn_distr_1_5d_gpu_edit.py
gcn_distr_2d.py
gcn_distr_2d_actandnorm.py
gcn_distr_2d_gen.py
gcn_distr_2d_cpu.py
gcn_distr_2d_gpu.py
gcn_distr_2d_gpu_gen.py
gcn_distr_2d_gpu_floor_edit.py
gcn_distr_2d_gpu_floor_old.py
gcn_distr_2d_gpu_floor_gpu_gen.py
