__pycache__/
data/
job_scripts/
outputs/
profs/
sparse-extension/build.out
sparse-extension/build/
sparse-extension/dist/
sparse-extension/sparse_coo_tensor_cpp.egg-info/
sparse_coo_tensor_cpp.egg-info/
.*.swp
.*.swo
.*.swm
.*.swn
.nfs*
*.txt
!requirements.txt
*.pt
slurm_outputs/
job-*
job_*
gcn_distr.py
gcn_distr_15d.py
gcn_distr_2d.py
gcn_distr_3d.py
gcn.py
reddit.py
tests/data
tests/dgl/
tests/examples
tests/LADIES/
tests/test_nccl
tests/pytorch_geometric/
tests/torch-quiver/
tests/*.out
examples/wandb
examples/*.batch
examples/*.png
*.qdrep
*.out
*.nsys-rep
*.ncu-rep
